nav(class="navbar navbar-default")
  a(class="navbar-brand" href="/") じゃんけんコロシアム
  ul(class="nav navbar-nav navbar-right")
    if user === 'Guest'
      li: a(href= "/login") Welcome,#{user}!
    else
      li: a(href= "/users/" + user) Welcome, #{user}!
