extends layout
block content
  form(class="input-group" action ="/login" method="post")
    h1 ログイン
    p ID
    input(class="form-control" type="text" name="username" placeholder = "User Name" required="required")
    p パスワード
    input(class="form-control" type="text" name="password" placeholder="Password" required="required")
    input(class="btn btn-default" type="submit" value="ログイン")
  p
    span または
    a(href="/signup") 新規登録
