extends layout

block content
  h1 ランキング
  include menu
  ul(class="list-group")
  for user, index in list
    a(class="list-group-item" href="/users/" + user.user_name) #{index + 1}位 #{user.nickname}(#{user.rate}%)
